.dialog {
  position: fixed;
  bottom: 5px;
  left: 10%;
  display: flex;
  height: 150px;
  width: 80%;
  background: white;
}
.dialog__content {
  display: flex;
  flex-direction: column;
  flex: 4;
  border: 5px solid black;
}
.dialog__text {
  overflow-y: scroll;
  padding: 2.5px 5px;
  height: 100%;
}
.dialog__choices {

}
.dialog__choice {
  text-align: center;
}
.dialog__choice:hover {
  background: black;
  color: white;
}