@font-face {
  font-family: 'Pixeleum 48';
  src: url('./config/fonts/Pixeleum/pixeleum-48.ttf');
}

html {
  font-family: 'Pixeleum 48', sans-serif;
  font-size: 16px;
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}